<mat-progress-bar *ngIf="value > 0" [value]='value' color='primary'></mat-progress-bar>
<div class="page-header">
    <h1>Simple Heuristic Filtering</h1>
</div>

<div class="page-content">
    <mat-horizontal-stepper labelPosition='bottom' (selectionChange)='stepChange($event)'>
        <mat-step>
            <ng-template matStepLabel>Start Event</ng-template>
            <mat-card *ngIf="startReady">
                <mat-card-header>
                    <mat-card-title>Start Event</mat-card-title>
                    <mat-card-subtitle>Choose starting event that you want to use</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list #startSelect [(ngModel)]='selectedStart'>
                        <mat-list-option *ngFor="let data of startData" [value]='data.event'>
                            {{ data.event }}
                        </mat-list-option>
                    </mat-selection-list>
                    <p><small>Minimum percentage of occurance to use</small></p>
                    <mat-slider style="width: 100%;" thumbLabel (change)='sliderStart($event)' step='0.1'></mat-slider>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color='primary' (click)='submitStart()'>Next</button>
                    <button id='startNext' mat-raised-button matStepperNext style="display: none;">Next</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>End Event</ng-template>
            <mat-card *ngIf="endReady">
                <mat-card-header>
                    <mat-card-title>End Event</mat-card-title>
                    <mat-card-subtitle>Choose ending event that you want to use</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list #endSelect [(ngModel)]='selectedEnd'>
                        <mat-list-option *ngFor="let data of endData" [value]='data.event'>
                            {{ data.event }}
                        </mat-list-option>
                    </mat-selection-list>
                    <p><small>Minimum percentage of occurance to use</small></p>
                    <mat-slider style="width: 100%;" thumbLabel (change)='sliderEnd($event)' step='0.1'></mat-slider>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color='primary' (click)="submitEnd()">Next</button>
                    <button id='endNext' mat-raised-button matStepperNext style="display: none;">Next</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>All Event</ng-template>
            <mat-card *ngIf="allReady">
                <mat-card-header>
                    <mat-card-title>All Event</mat-card-title>
                    <mat-card-subtitle>Choose events that you want to use</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list #allSelect [(ngModel)]='selectedAll'>
                        <mat-list-option *ngFor="let data of allData" [value]='data.event'>
                            {{ data.event }}
                        </mat-list-option>
                    </mat-selection-list>
                    <p><small>Minimum percentage of occurance to use</small></p>
                    <mat-slider style="width: 100%;" thumbLabel (change)='sliderAll($event)' step='0.1'></mat-slider>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color='primary' (click)="submitAll()">Finish</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
    </mat-horizontal-stepper>
</div>