<mat-progress-bar [mode]='progressmode' value='100' color='primary'></mat-progress-bar>
<div class="page-header">
  <h1>Preprocessing</h1>
</div>

<nav mat-tab-nav-bar dynamicHeight color='accent'>
  <span class="toolbar-flex"></span>
  <a mat-tab-link (click)="generalPrepro()" [active]="activeTab == 0">General Preprocessing</a>
  <a mat-tab-link (click)="alphaPrepro()" [active]="activeTab == 1">Alpha Miner Preprocessing</a>
  <span class="toolbar-flex"></span>
</nav>

<div class="page-content">
  <router-outlet></router-outlet>
</div>
<!-- <div class="blog-post">
  <button class="button" (click)="controlFlow()">Control Flow</button>
  <button class="button" (click)="dottedChart()">Dotted Chart</button>
</div> -->