<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Flow</li>
      <li><a [routerLink]="[ '/display' ]" routerLinkActive="active" *ngIf="fileExist">Display</a></li>
      <li><a [routerLink]="[ '/preprocess' ]" routerLinkActive="active" *ngIf="fileExist">Preprocess</a></li>
      <li><a [routerLink]="[ '/filter' ]" routerLinkActive="active" *ngIf="fileExist">Filter</a></li>
      <li><a [routerLink]="[ '/graph' ]" routerLinkActive="active" *ngIf="fileExist">Graph</a></li>
    </ul>
  </div>
  <div class="top-bar-right" *ngIf="fileExist">
    <ul class="menu align-right">
      <li><a class="button alert" (click)="delete()">Delete Data</a></li>
    </ul>
  </div>
</div>

<div class="row medium-8 large-7 columns" style="margin-top: 16px;">
  <router-outlet (activate)='onActivate($event)'></router-outlet>


<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
  $(document).foundation();
</script>

