.toolbar-flex {
    flex: 1 0.5 auto;
}

.mat-progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-paginator {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}