<mat-progress-bar *ngIf="value > 0" [value]='value' color='primary'></mat-progress-bar>
<div class="page-header">
    <h1>Statistic Data</h1>
</div>

<div class="page-content">
    <mat-accordion>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Log Summary
                </mat-panel-title>
                <mat-panel-description>
                    Summary of events in the log
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Total number of process instances: <strong>{{ totalCase }}</strong></p>
            <p>Total number of events: <strong>{{ totalEvent }}</strong></p>
            <p>Total event classes: <strong>{{ jenisEvent }}</strong></p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    All Event
                </mat-panel-title>
                <mat-panel-description>
                    List of all event and it's occurance
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table matSort [dataSource]="eventOccurance" style="width: 100%;">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Start Event
                </mat-panel-title>
                <mat-panel-description>
                    List of all event that act as the beginning of a case and its occurance
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table matSort [dataSource]="startOccurance" style="width: 100%;">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    End Event
                </mat-panel-title>
                <mat-panel-description>
                    List of all event that act as the ending of a case and its occurance
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table matSort [dataSource]="endOccurance" style="width: 100%;">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br>